.login-container{
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        .login-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            
            img{
                width: 300px;
                height: auto;
                
            }

            span{
                margin-top: 10px;
                font-weight: bold;
                font-size: 18px;
            }
        }

        .login-form{
            width: 100%;
            form{
                display: flex;
                flex-direction: column;

                label{
                    font-weight: bold;
                    font-size: 18px;
                }

                input{
                    height : 40px;
                    background-color : white;
                    color: var(--secondary);
                    outline : var(--secondary);
                    padding: 10px;
                    margin-bottom: 10px;
                }

                input:focus{
                    outline : var(--primary);
                }

                button{
                    height : 40px;
                    background-color : var(--primary);
                    color: var(--text-light);
                    transition : 0.3s;
                    margin-top: 10px 0;
                    cursor: pointer;
                }

                button:hover{
                    opacity : 0.8;
                }
            }

        }

        .login--novo-cadastro{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 20px;
            font-size: 12px;

            a{
                color: var(--primary);
            }

            span{
                margin-right: 5px;
            }
            
        }

        .login-footer{
            width: 100%;
            display: flex;
            flex-direction : column;
            padding : 10px;
            justify-content: center;
            align-items: center;


            .login-footer--com{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top:10px;
                margin-bottom:20px;
                width: 100%;

                small{
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 5px; 
                    margin-right: 5px; 
                }
                
                span{
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin: 0 30px;
                }

                span::before{
                    content: '';
                    width: 100%;
                    border: 1px solid var(--secondary);
                    position: relative;
                }
                span::after{
                    content: '';
                    width: 100%;
                    border: 1px solid var(--secondary);;
                    position: relative;
                }
            }

            .login-footer--redes-socias{
                display: flex;
                justify-content: center;
                align-items: center;

                button{
                    margin: 5px;
                    background-color: transparent;
                    padding: 5px;
                    border-radius: 50%;

                    svg{
                        height: 20px;
                        width: 20px;
                    }
                }

                button:hover{
                    background-color: var(--secondary);
                    svg{
                        color: white;
                    }
                }

            }
        }
    }
}