.container-title-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;


    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 10px;
    }

    .title h1{
        color: var(--text-dark);
        text-transform: uppercase;
        border: 3px solid var(--text-dark);
        padding: 5px 150px;
        border-radius: 10px;
    }

    .title::before{
        content: "";
        width: 100%;
        border: 1px solid var(--text-dark);
        position: relative;
    }

    .title::after{
        content: "";
        width: 100%;
        border: 1px solid var(--text-dark);
        position: relative;
    }
    
}

