.produto-item-container{
    width: 800px;
    height: 500px;
    background-color: white;

    display: flex;

    .produto-item-img{
        width: 400px;
        height: inherit;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .produto-item-info{
        flex: 1;
        height: 100%;

        display: flex;
        flex-direction: column;

        .produto-item-title-produto{
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            padding-top: 10px;

            h3{
                font-size: 24px;
            }

            small{
                font-weight: bold;
                font-size: 18px;
            }
        }

        .produto-item-detalhe-info{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            flex: 1px;

            .produto-item-price{
                font-size: 42px;
                color: var(--success);
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;

                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                small{
                    font-weight: normal;
                    font-size: 12px;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
            
            .produto-item-botoes{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
    
                .btn{
                    width: 100%;
                    height: 70px;
                    margin: 10px;
                    cursor: pointer;
                }
    
                .btn:hover{
                    text-decoration: underline;
                }
    
                .btn-comprar{
                    background-color: var(--success);
                    color: white;
                    font-weight: bold;
                }
                .btn-addToCart{
                    background-color: var(--info);
                    color: var(--primary);
                }
            }
        }

        

        .produto-item-frete{
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            margin-left: 20px;

            form{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            label{
                color: var(--text-dark);
                font-weight: bold;
                margin-right: 5px;
            }

            input{
                flex: 1;
                height: 40px;
                padding: 10px;
                outline: 1px solid var(--secondary);
            }

            input:focus{
                outline: 1px solid var(--primary);
            }

            button{
                height: 40px;
                background-color: var(--primary);
                padding: 10px;
                color: white;
                cursor: pointer;
            }
        }
    }
}